* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    min-height: 100svh;
    width: 100%;
    position: relative;
}

.glass-morphism {
    border-radius: 20px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.container {
    padding: 2vh;
    height: fit-content;
    width: 80svw;
}

.navbar {
    color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
}

.details {
    justify-content: space-between;
}

#name, #no_of_que, #difficulty {
    border: none;
    margin-left: 10px;
    background: rgba(255,255,255,0.3);
    color: white;
    padding: 5px;

    &::placeholder {
        color: white;
    }
}

option {
    background-color: rgba(0,0,0,0.3);
    color: black;
}

.active {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 100%;
        top: 100%;
        left: 0%;
        background: white;
    }

    &:hover {
        text-decoration: none;
    }
}

input[type="radio"] {
    display: none;
}

.custom-radio {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: inline-block;
    position: relative;
    background-color: white;
    transition: background-color 0.3s ease, border 0.3s ease;
    margin-right: 8px;
}

.options {
    padding-left: 25px;
}

input[type="radio"]:checked + label .custom-radio {
    background: rgba(255,255,255,0.1);
    border-color: #bbb;
    backdrop-filter: blur(20px);
}

.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.list-style-type-none {
    list-style-type: none;
}

.nav_items {
    gap: 20px;
}

.fs-large {
    font-size: large;
}

.fs-x-large {
    font-size: x-large;
}

.fs-xx-large {
    font-size: xx-large;
}

.question-container {
    color: white;
}

.options {
    padding-top: 20px;
}

.options > label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    align-items: center;
}

.fs-medium {
    font-size: medium;
}

.text-decor-none {
    text-decoration: none;
}

.text-white {
    color: white;
}

li > a {
    position: relative;
    color: white;
    &:hover {
        text-decoration: underline;
    }
}
.categories {
    padding: 15vh 5vh 5vh;
    gap: 10px;
}

.category {
    position: relative;
    padding: 15px;
    color: white;
    background: rgba(255,255,255,0.1);
    width: fit-content;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 8px;
    cursor: pointer;
}

.category-hover-checked, .category:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &::after {
        position: absolute;
        content: '';
        top: 100%;
        left: 0;
        height: 2px;
        background: white;
        width: 100%;
    }
}

.category > input[type='radio'] {
    display: none;
}

.btn {
    padding: 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(40px);
}

@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
    }
}